<ion-header>
  <ion-toolbar>
    <ion-title>Your RecyCoins</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <div class="cardBox">
  <div class="allSides">

        <h2 style= "text-align: center; padding-top: 20px; padding-bottom: -2px;">You've earned:</h2>
        <h1 style= "text-align: center; font-size: 50px;">5,240</h1>
        <h2 style= "text-align: center; padding-top: 12px; padding-bottom: -2px;">You've saved a total of:</h2>
        <h1 style= "text-align: center; font-size: 50px;">1,084 bottles</h1>

    <h2></h2>
  </div>
</div>

<h2 class="encouragement" style= "text-align: center;"> Keep up the RecyCoining! </h2>

<ion-content  padding>
  <ion-button id="scanButton" style= "text-align: center;" [routerLink]="['/success']">Start RecyCoin</ion-button>
</ion-content>

</ion-content>
