<ion-header>
  <ion-toolbar>
    <ion-buttons slot="/score">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>:)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding id="root">


<h2 class="greeting" style= "font-size: 40px; text-align: center; padding-top: 20px;"> Congrats! <br>You recycled successfully. </h2>

  <div class="cardBox">
  <div class="allSides">

        <h2 style= "text-align: center; padding-top: 20px; padding-bottom: -2px;">You've earned:</h2>
        <h1 style= "text-align: center; font-size: 50px;">+5<ion-img src="/assets/token-white-96px.png" class="currency"></ion-img></h1>
        <h2 style= "text-align: center; padding-top: 12px; padding-bottom: -2px;">by saving a total of:</h2>
        <h1 style= "text-align: center; font-size: 50px;">+1 bottle</h1>

    <h2></h2>
  </div>
</div>



<ion-content  padding>
  <ion-button id="scanButton" color="light" style= "text-align: center;" [routerLink]="['/fail']">More bottles?</ion-button>
  <ion-button id="scanButton" color="light" style= "text-align: center;" [routerLink]="['/score']">All done!</ion-button>
</ion-content>

</ion-content>
