<ion-header>
  <ion-toolbar>
      <ion-buttons slot="home">
          <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Offers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid id="offersgrid" fixed=true>
    <ion-row>
      <ion-col size="1">
        <ion-img src="/assets/offers/1.jpg" > </ion-img>
        Winterize your tires!
        <ion-img src="/assets/token-96px.png" class="currency"></ion-img>23
      </ion-col>
      <ion-col size="1">
        <ion-img src="/assets/offers/2.jpg" > </ion-img>
        What are you doing with your life?
        <ion-img src="/assets/token-96px.png" class="currency"></ion-img>100
      </ion-col>
       <ion-col size="1">
        <ion-img src="/assets/offers/3.jpg" > </ion-img>
        Dinner for two: 10% off!
        <ion-img src="/assets/token-96px.png" class="currency"></ion-img>40
      </ion-col>
       <ion-col size="1">
        <ion-img src="/assets/offers/4.jpg" > </ion-img>
        Have you called your mother? $0.50 off!
        <ion-img src="/assets/token-96px.png" class="currency"></ion-img>22920
      </ion-col>
       <ion-col size="1">
        <ion-img src="/assets/offers/5.jpg" > </ion-img>
        Do this unless you want to die!
        <ion-img src="/assets/token-96px.png" class="currency"></ion-img>1
      </ion-col>
       <ion-col size="1">
        <ion-img src="/assets/offers/6.jpg" > </ion-img>
        I can show you things...
        <ion-img src="/assets/token-96px.png" class="currency"></ion-img>24
      </ion-col>
       <ion-col size="1">
        <ion-img src="/assets/offers/7.jpg" > </ion-img>
        Quality handbags for cheap!
        <ion-img src="/assets/token-96px.png" class="currency"></ion-img>45
      </ion-col>
       <ion-col size="1">
        <ion-img src="/assets/offers/8.jpg" > </ion-img>
        Cheap handbags for quality!
        <ion-img src="/assets/token-96px.png" class="currency"></ion-img>130
      </ion-col>
       <ion-col size="1">
        <ion-img src="/assets/offers/9.jpg" > </ion-img>
        See what he's looking at!
        <ion-img src="/assets/token-96px.png" class="currency"></ion-img>55
      </ion-col>
       <ion-col size="1">
        <ion-img src="/assets/offers/10.jpg "> </ion-img>
        Forget everything today!
        <ion-img src="/assets/token-96px.png" class="currency"></ion-img>49
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
