<ion-header>
  <ion-toolbar>
      <ion-buttons slot="/score">
          <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Offers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid id="offersgrid">
    <ion-row>
      <ion-col size="1">
        <ion-img src="/assets/offers/1.jpg" class="imgofoffer"> </ion-img>
        Winterize your tires! <br />
        <ion-img src="/assets/token-96px.png" class="currency"></ion-img>23
      </ion-col>
      <ion-col size="1">
        <ion-img src="/assets/offers/2.jpg" class="imgofoffer"> </ion-img>
        What are you doing with your life?<br />
        <ion-img src="/assets/token-96px.png" class="currency"></ion-img>100
      </ion-col>
       <ion-col size="1">
        <ion-img src="/assets/offers/3.jpg" class="imgofoffer"> </ion-img>
        Dinner for two: 10% off!<br />
        <ion-img src="/assets/token-96px.png" class="currency"></ion-img>40
      </ion-col>
       <ion-col size="1">
        <ion-img src="/assets/offers/4.jpg" class="imgofoffer"> </ion-img>
        Have you called your mother? $0.50 off!<br />
        <ion-img src="/assets/token-96px.png" class="currency"></ion-img>22920
      </ion-col>
       <ion-col size="1">
        <ion-img src="/assets/offers/5.jpg" class="imgofoffer"> </ion-img>
        Do this unless you want to die!<br />
        <ion-img src="/assets/token-96px.png" class="currency"></ion-img>1
      </ion-col>
       <ion-col size="1">
        <ion-img src="/assets/offers/6.jpg" class="imgofoffer"> </ion-img>
        I can show you things...<br />
        <ion-img src="/assets/token-96px.png" class="currency"></ion-img>24
      </ion-col>
       <ion-col size="1">
        <ion-img src="/assets/offers/7.jpg" class="imgofoffer"> </ion-img>
        Quality handbags for cheap!<br />
        <ion-img src="/assets/token-96px.png" class="currency"></ion-img>45
      </ion-col>
       <ion-col size="1">
        <ion-img src="/assets/offers/8.jpg" class="imgofoffer"> </ion-img>
        Cheap handbags for quality!<br />
        <ion-img src="/assets/token-96px.png" class="currency"></ion-img>130
      </ion-col>
       <ion-col size="1">
        <ion-img src="/assets/offers/9.jpg" class="imgofoffer"> </ion-img>
        See what he's looking at!<br />
        <ion-img src="/assets/token-96px.png" class="currency"></ion-img>55
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
